.Rproj.user
.Rhistory
NAMESPACE
.Rhistory
inst/extdata/TestCase1c/*/*.sti
inst/extdata/TestCase1c/*.pdf
inst/extdata/TestCase1c/*/*.tmp
inst/extdata/TestCase1c/*/snow*
inst/extdata/TestCase1c/*/*.log
Preliminary work/Data/TestCase1c/*/*.sti
Preliminary work/Data/TestCase1c/*/*.tmp
Preliminary work/Data/TestCase1c/*/snow*
Preliminary work/Data/TestCase1c/*/*.log
Preliminary work/Data/TestCase1c/*.pdf
vignettes/JavaSTICS-1.41-stics-9.0
tmp
doc
Meta
vignettes/*.html
vignettes/EstimatedVSinit.pdf
vignettes/optim_results.Rdata
vignettes/sim_obs_plots.png
vignettes/debug_crit_NA.Rdata
vignettes/sim_obs.png
vignettes/*.R
